
services:
  frontend:
    build: ./frontend
    container_name: react-frontend

  backend:
    build: ./backend
    container_name: flask-backend
    expose:
      - "5000"

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/build:/usr/share/nginx/html
    depends_on:
      - frontend
      - backend
